<!DOCTYPE html>
<html></html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="\static\styles\custom.css" type="text/css">
<title>Kámen, nůžky, papír</title>
</head>
<body>
 <div class="nejakyDiv" > Hráč:  <img src="{{hrac}}"width= 50px>  </a> </div>
 <div class="nejakyDiv"> Počítač:  <img src="{{pocitac}}"width= 50px> </div>
 <div class="vysledek"> <a class="vysledek" style="color:{{barva}}"> Výsledek: {{vysledek}} </a></div><br> <br> <br>
 <a class="nevim"> Počítač vyhrál: {{pc}}</a>
 <br>
 <a class="nevim"> Hráč vyhrál: {{hr}}</a>
 <br>
 <a class="nevim"> Remíza: {{no}}</a>
 <br>
 <form action="/">
    <input class="zpet" type="submit" value="Zpět" />
</form>
</body>
</html>
