<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="\static\styles\custom.css" type="text/css">
<title>Kámen, nůžky, papír</title>
</head>
<body>
    <h1>Kámen, nůžky, papír</h1> <br>  <br>
    <h3>Vyber si kámen, nůžky nebo papír: </h3><br><br>
    <img class="obr" src="/static/img/kamen.png"width= 50px>
    <a class="moznost" href="/kamen" > Kámen </a> <br><br>
    <img class="obr" src="/static/img/nuzky.png"width= 50px>
    <a class="moznost" href="/nuzky"> Nůžky </a> <br><br>
    <img class="obr" src="/static/img/papir.jpg"width= 40px>
    <a class="moznost" href="/papir"> Papír </a>



</body>
</html>
